In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [3]:
df = pd.read_csv(r"C:\Users\savit\OneDrive\Desktop\PDA\Walmart Data Analysis and Forcasting.csv")

In [4]:
df.head()

,Store,Date,Weekly_Sales,Holiday_Flag,Temperature,Fuel_Price,CPI,Unemployment
0,1,05-02-2010,"$16,43,690.90",0,42.31,$2.57,211.096358,8.106
1,1,12-02-2010,"$16,41,957.44",1,38.51,$2.55,211.242170,8.106
2,1,19-02-2010,"$16,11,968.17",0,39.93,$2.51,211.289143,8.106
3,1,26-02-2010,"$14,09,727.59",0,46.63,$2.56,211.319643,8.106
4,1,05-03-2010,"$15,54,806.68",0,46.50,$2.63,211.350143,8.106

In [5]:
df.tail()

,Store,Date,Weekly_Sales,Holiday_Flag,Temperature,Fuel_Price,CPI,Unemployment
6430,45,28-09-2012,"$7,13,173.95",0,64.88,$4.00,192.013558,8.684
6431,45,05-10-2012,"$7,33,455.07",0,64.89,$3.99,192.170412,8.667
6432,45,12-10-2012,"$7,34,464.36",0,54.47,$4.00,192.327265,8.667
6433,45,19-10-2012,"$7,18,125.53",0,56.47,$3.97,192.330854,8.667
6434,45,26-10-2012,"$7,60,281.43",0,58.85,$3.88,192.308899,8.667

In [6]:
df.shape

(6435, 8)

In [7]:
df.columns

Index(['Store', 'Date', ' Weekly_Sales ', 'Holiday_Flag', 'Temperature',
       ' Fuel_Price ', 'CPI', 'Unemployment'],
      dtype='object')

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6435 entries, 0 to 6434
Data columns (total 8 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Store           6435 non-null   int64
 1   Date            6435 non-null   object
 2    Weekly_Sales   6435 non-null   object
 3   Holiday_Flag    6435 non-null   int64
 4   Temperature     6435 non-null   float64
 5    Fuel_Price     6435 non-null   object
 6   CPI             6435 non-null   float64
 7   Unemployment    6435 non-null   float64
dtypes: float64(3), int64(2), object(3)
memory usage: 402.3+ KB

In [9]:
df.columns = df.columns.str.strip()

In [10]:
print(df.columns)

Index(['Store', 'Date', 'Weekly_Sales', 'Holiday_Flag', 'Temperature',
       'Fuel_Price', 'CPI', 'Unemployment'],
      dtype='object')

In [11]:
df["Weekly_Sales"].head()

0     $16,43,690.90
1     $16,41,957.44
2     $16,11,968.17
3     $14,09,727.59
4     $15,54,806.68
Name: Weekly_Sales, dtype: object

In [12]:
df["Weekly_Sales"] = df["Weekly_Sales"].str.replace("$", "", regex=False)
df["Weekly_Sales"] = df["Weekly_Sales"].str.replace(",", "", regex=False)

In [13]:
df["Weekly_Sales"] = pd.to_numeric(df["Weekly_Sales"])

In [14]:
df["Fuel_Price"].head()

0     $2.57
1     $2.55
2     $2.51
3     $2.56
4     $2.63
Name: Fuel_Price, dtype: object

In [21]:
df.isnull().sum()

Store           0
Date            0
Weekly_Sales    0
Holiday_Flag    0
Temperature     0
Fuel_Price      0
CPI             0
Unemployment    0
dtype: int64

In [27]:
df["Fuel_Price"] = df["Fuel_Price"].str.replace("$", "", regex=False)

AttributeError: Can only use .str accessor with string values!

In [ ]:
df["Fuel_Price"] = pd.to_numeric(df["Fuel_Price"])

In [ ]:
df["Date"] = pd.to_datetime(df["Date"], format="%d-%m-%Y")

In [28]:
df.isnull().sum()

Store           0
Date            0
Weekly_Sales    0
Holiday_Flag    0
Temperature     0
Fuel_Price      0
CPI             0
Unemployment    0
dtype: int64

In [29]:
df.isnull().sum().sum()

0

In [ ]:
df = df.dropna()

In [ ]:
df["CPI"] = df["CPI"].fillna(df["CPI"].mean())
df["Unemployment"] = df["Unemployment"].fillna(df["Unemployment"].mean())

In [ ]:
df = df.fillna(0)

In [30]:
df.duplicated().sum()

0

In [ ]:
df[df.duplicated()]

In [ ]:
df = df.drop_duplicates()

In [ ]:
df.describe()

In [31]:
df['Weekly_Sales'].mean()

1046964.8775617715

In [32]:
df['Weekly_Sales'].max()

3818686.45